html {
    height: 100%;
}

body {
    font-size: 14px;
    overflow-x: hidden;
    color: #333;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
}

@supports (bottom: constant(safe-area-inset-top)) or (bottom: env(safe-area-inset-top)) {
    body {
        padding-top: constant(safe-area-inset-top);
        padding-top: env(safe-area-inset-top);
        padding-left: constant(safe-area-inset-left);
        padding-left: env(safe-area-inset-left);
        padding-right: constant(safe-area-inset-right);
        padding-right: env(safe-area-inset-right);
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
    }
}

img {
    content: normal !important;
}
.z-overflow-hidden {
    overflow: hidden!important;
}
/* 内容区 */
.z-body {
    position: relative;
    box-sizing: border-box;
}

/* 根据header和navbar自动适应内容区高度 */
.z-header~.z-body {
    padding-top: 45px;
}

.z-navbar~.z-body {
    padding-bottom: 50px;
}


.float-r {
    float: right;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ellipsis-line2 {
    -webkit-line-clamp: 2;
    /* 用该属性来限定块元素内文本显示的行数 */
    display: -webkit-box;
    /* 将对象作为弹性的伸缩盒子显示 */

    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;

    text-overflow: ellipsis;
    /* 使用省略号告诉用户有内容未显示 */
    overflow: hidden;
    /* 超出文本隐藏 */
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.aligin-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.aligin-start {
    align-items: flex-start;
}

.aligin-end {
    align-items: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

@svg border-1px {
    height: 4px;
    width: 4px;

    @rect {
        fill: transparent;
        width: 100%;
        height: 100%; // 高度为4px * 100%
        stroke-width: 25%; // 边框宽度 4px * 25%(即1px)
        stroke: var(--color, black); // 颜色
    }
}

.border-1px {
    border: 1px solid;
    border-image: svg(border-1px param(--color #ddd)) 1 stretch;
}

.border-bottom-1px {
    border-bottom: 1px solid;
    border-image: svg(border-1px param(--color #ddd)) 1 stretch;
}

.border-top-1px {
    border-top: 1px solid;
    border-image: svg(border-1px param(--color #ddd)) 1 stretch;
}

.clear-fix {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}
@keyframes mask-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes middle-in {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes top-in {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}
@keyframes bottom-in {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}
@keyframes left-in {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}
@keyframes right-in {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}
@keyframes delayShow {
    0% {
      transform: translateY(-50px);
    }

    60% {
      transform: translateY(40px);
    }

    100% {
      transform: translateY(0px);
    }
  }
.bg-red {
	background-color: #e54d42;
	color: #ffffff;
}

.bg-orange {
	background-color: #f37b1d;
	color: #ffffff;
}

.bg-yellow {
	background-color: #fbbd08;
	color: #333333;
}

.bg-olive {
	background-color: #8dc63f;
	color: #ffffff;
}

.bg-green {
	background-color: #39b54a;
	color: #ffffff;
}
.bg-cyan {
	background-color: #1cbbb4;
	color: #ffffff;
}

.bg-blue {
	background-color: #0081ff;
	color: #ffffff;
}

.bg-purple {
	background-color: #6739b6;
	color: #ffffff;
}

.bg-mauve {
	background-color: #9c26b0;
	color: #ffffff;
}

.bg-pink {
	background-color: #e03997;
	color: #ffffff;
}

.bg-brown {
	background-color: #a5673f;
	color: #ffffff;
}

.bg-grey {
	background-color: #8799a3;
	color: #ffffff;
}

.bg-gray {
	background-color: #f0f0f0;
	color: #333333;
}

.bg-black {
	background-color: #333333;
	color: #ffffff;
}

.bg-white {
	background-color: #ffffff;
	color: #666666;
}
